@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  width: 100%;
  height: 100%;
}

html {
  color: #ccc;
  top: 0;
  left: 0;
  position: fixed;
}

body {
  border: 0;
  background: rgb(21, 21, 21);
  display: flex;
  flex-direction: column;
  overflow: hidden !important;
}

.monaco-editor, .monaco-diff-editor .synthetic-focus, .monaco-editor, .monaco-diff-editor [tabindex="0"]:focus, .monaco-editor, .monaco-diff-editor [tabindex="-1"]:focus, .monaco-editor, .monaco-diff-editor button:focus, .monaco-editor, .monaco-diff-editor input[type=button]:focus, .monaco-editor, .monaco-diff-editor input[type=checkbox]:focus, .monaco-editor, .monaco-diff-editor input[type=search]:focus, .monaco-editor, .monaco-diff-editor input[type=text]:focus, .monaco-editor, .monaco-diff-editor select:focus, .monaco-editor, .monaco-diff-editor textarea:focus {
  outline-color: transparent !important;
}