/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  color: #ccc;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  -o-user-select: none;
  user-select: none;
}

body {
  line-height: 1;
  width: 100%;
  height: 100%;
  border: 0;
  background: rgb(21, 21, 21);
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.flex-auto {
  flex: auto;
}

.vbox {
  display: flex;
  flex-direction: column !important;
  position: relative;
}

.widget {
  position: relative;
  flex: auto;
  contain: style;
}

.flex {
	display: flex;
}

.flex-1 {
	flex: 1;
}

.flex-col {
	flex-direction: column;
}

.relative {
	position: relative;
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.px-2 {
  padding-left: .5rem;
  padding-right: .5rem;
}

.absolute {
  position: absolute;
}

.left-50 {
  left: 50%;
}

.top-50 {
  top: 50%;
}

.translate-n50 {
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

.items-center {
  align-items: center;
}

.screencast-tabs {
  gap: 4px;
  overflow-x: auto;
  scrollbar-width: none;
}

.screencast-tab-item {
  flex: 0 0 auto;
  max-width: 12rem;
  width: 100%;
  /* height: 24px; */
  /* background-color: rgb(92 92 92); */
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
}
.screencast-tab-item.active {
  background-color: rgb(92 92 92);
}
.screencast-tab-item:not(.active):hover {
  background-color: rgb(46, 46, 46);
}

.screencast-tab-item .favicon {
  width: 16px;
  height: 16px;
  object-fit: contain;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

.screencast-tab-item .favicon.loading {
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.screencast-tab-item .title {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

.screencast-tab-item .close-button {
  width: 16px;
  height: 16px;
  object-fit: contain;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: auto;
  cursor: pointer;
}
.screencast-tab-item .close-button svg {
  width: 16px;
  height: 16px;
  fill: #fff;
  object-fit: contain;
}
.screencast-tab-item .close-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.screencast-navigation {
  border-bottom: 1px solid rgb(92 92 92);
}

.screencast-navigation button {
  display: flex;
  flex: 24px 0 0;
  width: 23px;
  height: 23px;
  padding: 2px;
  background-color: transparent;
  /* background-image: image-set(url(./assets/images/navigation-controls.png) 1x, url(./assets/images/navigation-controls@2x.png) 2x);
  background-clip: content-box;
  background-origin: content-box;
  background-repeat: no-repeat; */
  border: 1px solid transparent;
}

.screencast-navigation button svg.lucide {
  width: 16px;
  height: 16px;
  object-fit: contain;
  color: #ff5449;
}

.screencast-navigation button:not(:nth-of-type(4)) {
  background-image: image-set(url(./assets/images/navigation-controls.png) 1x, url(./assets/images/navigation-controls@2x.png) 2x);
  background-clip: content-box;
  background-origin: content-box;
  background-repeat: no-repeat;
}

.screencast-navigation button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.screencast-navigation button:hover,
.screencast-navigation button:focus {
  border-color: rgb(17 119 187);
}

.screencast-navigation input {
  background: transparent;
  border: 1px solid rgb(92 92 92);
  max-height: 19px;
  color: white;
}